.button {

    &__link {
        text-decoration: none;
        border: 1px solid #2c4058;
        padding: 16px 40px;
        color: #2c4058;
        font-family: 'GothamBook';
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            transition: 0.5s;
        }
    }
}