mixin footer
    footer.footer
        .container.footer__container
            .footer__logo-wrapper
                a(href="javascript:void(0)")
                    img.footer__logo(src="../dist/img/Logo.svg", alt="logo")
                .footer__txt
                    p.footer__copy Copyrights  &copy; 2017 Monticello 
                    span.footer__made Made with 
                        a(href="javascript:void(0)") 
                            <i class="fas fa-heart footer__haert"></i>
                    span.footer__by by Ga Huy
            .footer__network
                a(href="javascript:void(0)") 
                    .footer__icon <i class="fab fa-facebook-f"></i>
                a(href="javascript:void(0)")
                    .footer__icon <i class="fab fa-twitter"></i>
                a(href="javascript:void(0)")
                    .footer__icon <i class="fab fa-instagram"></i>