body {
    background-color: #fff;

    // background-image: url(../../fon.png);
    // background-position: top;
    // background-repeat: no-repeat;
    // opacity: 0.6;
    a {
        text-decoration: none;
    }

}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}