mixin header
    header.header
        .header__anchor(id="about")
        .header__wrapper
            .swiper-container.swiper-container-first
                .swiper-wrapper 
                    .swiper-slide 
                        .header__slide-first
                            h1.header__title Simple &amp; mordern
                            p.header__subtitle We make the world's beautiful every day
                            .header__img-wrapper
                    .swiper-slide 
                        .header__slide-second
                            h1.header__title Simple &amp; mordern
                            p.header__subtitle We make the world's beautiful every day
                            .header__img-wrapper
                                img.header__img(src="../dist/img/slide02.png", alt="background")
                    .swiper-slide
                        .header__slide-second
                            h1.header__title Simple &amp; mordern
                            p.header__subtitle We make the world's beautiful every day
                            .header__img-wrapper
                                img.header__img(src="../dist/img/slide03.png", alt="background")
                    .swiper-slide
                        .header__slide-second
                            h1.header__title Simple &amp; mordern
                            p.header__subtitle We make the world's beautiful every day
                            .header__img-wrapper
                                img.header__img(src="../dist/img/slide04.png", alt="background")
                    .swiper-slide
                        .header__slide-second
                            h1.header__title Simple &amp; mordern
                            p.header__subtitle We make the world's beautiful every day
                            .header__img-wrapper
                                img.header__img(src="../dist/img/slide05.png", alt="background")
                .swiper-pagination.swiper-pagination-first
            .header__angle-wrapper
                .container
                    a(href="#projects") 
                        .header__angle
                            <i class="fas fa-angle-down "></i>

